<EditForm Model="@User" OnSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <div class="form-group">

        <label for="FirstName">First name: </label>
        <InputText id="FirstName" class="form-control" @bind-Value="@User.FirstName" placeholder="Enter first name">
        </InputText>
        <ValidationMessage For="@(() => User.FirstName)" />

    </div>

    <div class="form-group">

        <label for="LastName">Last name: </label>
        <InputText id="LastName" class="form-control" @bind-Value="@User.LastName" placeholder="Enter last name">
        </InputText>
        <ValidationMessage For="@(() => User.LastName)" />

    </div>
@*
    <div class="form-group">

        <label for="Email">Email: </label>
        <InputText id="Email" class="form-control" @bind-Value="@User.Email" placeholder="Enter Email">
        </InputText>
    </div> *@




    <div class="form-group">

        <label for="UserName">UserName: </label>
        <InputText id="UserName" class="form-control" @bind-Value="@User.UserName" placeholder="Enter UserName">
        </InputText>
        <ValidationMessage For="@(() => User.UserName)" />

    </div>


    <div class="form-group">

        <label for="Gender">Gender: </label>
        <InputText id="Gender" class="form-control" @bind-Value="@User.Gender" placeholder="Enter Gender">
        </InputText>
        <ValidationMessage For="@(() => User.Gender)" />

    </div>


    <div class="form-group">

        <label for="Address">Address: </label>
        <InputText id="Address" class="form-control" @bind-Value="@User.Address" placeholder="Enter Address">
        </InputText>
        <ValidationMessage For="@(() => User.Address)" />

    </div>


    <div class="form-group">

        <label for="Country">Country: </label>
        <InputText id="Country" class="form-control" @bind-Value="@User.Country" placeholder="Enter Country">
        </InputText>
        <ValidationMessage For="@(() => User.Country)" />

    </div>



    <div class="form-group">

        <label for="State">State: </label>
        <InputText id="State" class="form-control" @bind-Value="@User.State" placeholder="Enter State">
        </InputText>
        <ValidationMessage For="@(() => User.State)" />

    </div>



    <div class="form-group">

        <label for="City">City: </label>
        <InputText id="City" class="form-control" @bind-Value="@User.City" placeholder="Enter City">
        </InputText>
        <ValidationMessage For="@(() => User.City)" />

    </div>


    <div class="form-group">

        <label for="ZipCode">ZipCode: </label>
        <InputText id="ZipCode" class="form-control" @bind-Value="@User.ZipCode" placeholder="Enter ZipCode">
        </InputText>
        <ValidationMessage For="@(() => User.ZipCode)" />

    </div>



    <div class="form-group">

        <label for="Password">Password: </label>
        <InputText type="password" id="Password" class="form-control" @bind-Value="@User.Password"
            placeholder="Enter Password">
        </InputText>
        <ValidationMessage For="@(() => User.Password)" />

    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>


@* <form>
    <Field>
    <Label>Name</Label>
    <Control>
    <Input placeholder="Text input" TValue="string" />
    </Control>
    </Field>
    <Field>
    <Label>Username</Label>
    <Control HasIconsLeft HasIconsRight>
    <Input Color="Color.Success" TValue="string" placeholder="Text input" value="bulmarazor" />
    <Icon IsLeft IsSmall IconClass="fa fa-user"></Icon>
    </Control>
    <Help Color="Color.Success">This username is available</Help>
    </Field>
    <Field>
    <Label>Email</Label>
    <Control HasIconsLeft HasIconsRight>
    <Input Color="Color.Danger" type="email" TValue="string" placeholder="Email input" value="hello" />
    <Icon IsLeft IsSmall IconClass="fa fa-envelope"></Icon>
    </Control>
    <Help Color="Color.Danger">This email is invalid</Help>
    </Field>
    <Field>
    <Label>Subject</Label>
    <Control>
    <Select Value="1">
    <Option Value="1">Select dropdown</Option>
    <Option Value="2">With options</Option>
    </Select>
    </Control>
    </Field>
    <Field>
    <Label>Message</Label>
    <Control>
    <Textarea placeholder="Textarea"></Textarea>
    </Control>
    </Field>
    <Field>
    <Label></Label>
    <Control>
    <CheckBox TValue="string"> I agree to the <a href="#">terms and conditions</a></CheckBox>
    </Control>
    </Field>
    <Field>
    <Control>
    <Radios TValue="int">
    <Radio Name="aa" Value="1" TValue="int">Yes</Radio>
    <Radio Name="aa" Value="0" TValue="int">No</Radio>
    </Radios>
    </Control>
    </Field>
    <Field IsGrouped>
    <Control>
    <Button Color="Color.Link">Submit</Button>
    </Control>
    <Control>
    <Button Color="Color.Link" IsLight>Cancel</Button>
    </Control>
    </Field>
    </form> *@